* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.nav-container {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.container{
  max-width: 1200px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #F0F0F0;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 34px;
}

.header a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #050038;
  transition: all .3s;
}

.header a:hover {
  color: #4262FF;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-globe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 88px;
  margin-right: 20px;
}

.logo {
  padding: 24px 24px 30px 20px;
}

.logo-globe {
  border: none;
  background: none;
  cursor: pointer;
  transition: all .3s;
}

.logo-globe:hover {
  opacity: .6;
}

.button {
  background: #4262FF;
  border: 1px solid #4262FF;
  border-radius: 24px;
  width: 157px;
  height: 50px;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  transition: all .3s;
}

.button:hover {
  opacity: .8;
}

.info {
  padding-top: 58px;
}

.info-info {
  display: flex;
  justify-content: space-between;
}

.info-title {
  margin-bottom: 19px;
  max-width: 285px;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}

.info-text {
  margin-bottom: 55px;
  max-width: 424px;
  font-size: 18px;
  line-height: 24px;
  color: #050038;
}

.info-input {
  padding: 0 16px;
  width: 440px;
  height: 48px;
  border: 1px solid #9B99AF;
  border-radius: 32px;
}

.info-button {
  margin: 10px 0 8px 0;
  width: 440px;
  height: 51px;
  background: #4262FF;
  border: 1px solid #4262FF;
  border-radius: 32px;
  color: #FFFFFF;
  transition: all .3s;
  cursor: pointer;
}

.info-button:hover {
  opacity: .8;
}

.info-text-card {
  font-size: 14px;
  color: #050038;
}

.info-user {
  display: flex;
  padding-top: 52px;
  align-items: center;
}

.user-text {
  margin-right: 20px;
  font-size: 18px;
  letter-spacing: 0.25px;
  color: #050038;
}

.user-logo {
  display: flex;
  gap: 20px;
}

.info-image {
  margin-top: 4px;
  max-height: 461px;
}
.collaboration{
  padding-top: 128px;
}

.collaboration-block {
  display: flex;
  justify-content: space-between;
}

.collaboration-title {
  margin: 86px 0 19px 0;
  max-width: 454px;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}

.collaboration-text {
  margin-bottom: 39px;
  max-width: 436px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(5, 0, 56, 0.6);
}

.link {
  font-size: 18px;
  line-height: 24px;
  color: #4262FF;
  transition: all .3s;
}

.link:hover {
  color: #050038;
}
.extraTabs{
  padding-top: 120px;
}

.extraTabs-block {
  display: flex;
  justify-content: space-between;
}

.extraTabs-title {
  margin-top: 63px;
  max-width: 432px;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}

.extraTabs-text {
  margin: 19px 0 39px 0;
  max-width: 429px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(5, 0, 56, 0.6);
}
.workingStyle{
  padding-top: 148px;
}

.workingStyle-title {
  font-size: 48px;
  letter-spacing: 1px;
  color: #050038;
  margin-bottom: 34px;
}

.workingStyle-buttons {
  display: flex;
  gap: 8px;
  margin-bottom: 26px;
}

.workingStyle-buttons button {
  padding: 0 18px;
  border: 1px solid #F2F2F2;
  border-radius: 24px;
  box-sizing: border-box;
  height: 48px;
  font-size: 14px;
  color: #050038;
  background: none;
  transition: all .3s;
  cursor: pointer;
}

.workingStyle-buttons button:hover {
  background: #F1F3FD;
  ;
}

.workingStyle-title-text {
  margin-top: 30px;
  font-size: 18px;
  color: #050038;
}

.workingStyle-text {
  margin: 25px 0 32px 0;
  max-width: 288px;
  font-size: 18px;
  line-height: 24px;
}

.workingStyle-block-txt {
  display: flex;
  justify-content: space-between;
}

.workingStyle a {
  text-decoration: none;
}

.frust{
  background: #FFD02F;
  margin-top: 71px;
}
.frust-block {
  padding-top: 118px;
}

.frust-top {
  margin: 0 auto;
  max-width: 525px;
  text-align: center;
}

.frust-title {
  margin-bottom: 18px;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
}

.frust-link {
  font-size: 18px;
  line-height: 24px;
  color: #050038;
  transition: all .3s;
}

.frust-link:hover {
  color: #4262FF;
}

.frust-item {
  padding: 40px 0 77px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.frust-item-card {
  max-width: 360px;
  min-height: 281px;
}

.frust-item-txt {
  max-width: 328px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #050038;
  margin: 25px auto 0;
}
.customers{
  padding-top: 118px;
}

.customers-block-title {
  margin: 0 auto;
  text-align: center;
}

.customers-title {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #050038;
  margin-bottom: 36px;
}

.customerrs-button {
  width: 264px;
  height: 46px;
  background: #FFFFFF;
  border: 1px solid #4262FF;
  border-radius: 24px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 24px;
  color: #4262FF;
  transition: all .3s;
  cursor: pointer;
}

.customerrs-button:hover {
  color: #fff;
  background: #4262FF;
}

.customers-item {
  margin-top: 77px;
  display: flex;
  gap: 92px;
}

.customers-item-card {
  max-width: 294px;
}

.customers-item-txt {
  margin-top: 23px;
  max-width: 287px;
  height: 216px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(5, 0, 56, 0.6);
}

.customers-user {
  margin-top: 63px;
  display: flex;
}

.customers-user img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.customers-user-txt {
  margin-left: 16px;
}

.customers-user-txt_1 {
  margin-top: 2px;
}
.registrations{
  padding-top: 155px;
}

.registrations-block {
  padding: 119px 230px;
  background: #050038;
  border-radius: 16px;
}

.registrations-block-txt {
  text-align: center;
  margin: 0 auto;
}

.registratins-title {
  margin-bottom: 19px;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.registrations-txt {
  margin: 0 auto;
  text-align: center;
  max-width: 525px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.registrations a {
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  transition: all .3s;
}

.registrations a:hover {
  color: #4262FF;
}

.registrations-button {
  margin-top: 40px;
  width: 251px;
  height: 48px;
  background: #4262FF;
  border: 1px solid #4262FF;
  border-radius: 32px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  transition: all .3s;
  cursor: pointer;
}

.registrations-button:hover {
  opacity: .6;
}
.footer{
  margin-top: 120px;
  background: #050038;
}


.footer-block {
  padding: 40px 0 40px 20px;
}

.footer-info {
  display: flex;
  gap: 33px;
}

.footer-info a {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  transition: all .3s;
}

.footer-item {
  margin-bottom: 24px;

}

.footer-item a {
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer-info a:hover {
  color: #4262FF;
}

.footer-link ul {
  display: flex;
  gap: 7px;
  flex-direction: column;
  min-width: 195px;
  list-style: none;
}

.rectangle {
  margin: 100px 20px 69px 0;
  background: #9B99AF;
  width: 1160px;
  height: 1px;
}

.footer-footer {
  margin-right: 69px;
  display: flex;
  justify-content: space-between;
}

.footer-messenger {
  display: flex;
  gap: 20px;
}

.footer-copyright img {
  height: 24px;
  object-fit: cover;
}

.footer-footer p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.footer-footer a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  transition: all .3s;
}

.footer-footer a:hover {
  color: #4262FF;
}

.footer-copyright {
  display: flex;
}

.footer-applications {
  margin-top: 27px;
  display: flex;
  gap: 12px;
}